*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    letter-spacing: 2px;
}
.container-app{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.container-survey{
    display: flex;
    width: 40%;
    height: 85%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    flex-flow: column;
    text-align: center;
    border: 1px solid #e7eae0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.survey-header{
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #e7eae0;
    justify-content: center;
    background-color: #e7eae0;
    border-radius: 10px 10px 0px 0px;
}

.survey-main{
    display: flex;
    width: 100%;
    height: 70%;
    flex-flow: column;
    margin: auto;
}

.survey-footer{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    border-top: 1px solid #e7eae0;
    background-color: #e7eae0;
    border-radius: 0px 0px 10px 10px;
}

.box-question{
    margin: 20px;
}

.box-question p{
    margin-top: 20px;
}

.box-response{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}
ul{
    display: flex;
    width: 80%;
    margin: 0;
    padding: 0;
    flex-flow: column;
}

ul li{
    list-style: none;
    line-height: 2;
    border: 1px solid #cdd2d2;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;

}

li:hover{
    background-color: #e7eae0;
}

.box-button{
    display: flex;
    width: 100%;
}


.box-button button{
    width: 150px;
    height: 35px;
    outline: none;
    border: 0;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 15px;
    margin: auto;
    background-color: #a09f9ff5;

}

li.selected{
    border: 1px solid rgb(156, 191, 73);
    background-color: rgb(156, 191, 73);
    color: white;
    font-weight: 600;
}

.step-progress{
    display: flex;
    width: 100%;
    height: 5px;
    background-color: rgb(106, 128, 202);
    transition: 0.5s;
    

}